{{> privateNavBar }}





<div
    class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade"
    uk-height-viewport
  >
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
          <div class="uk-width-1-1@m">
            <div
              class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large"
            >
            <h2 style="text-align: center;">Messages</h2>
        {{#each messageData}}

            {{#if (isEqualTo userType "student")}}
                {{#if (isEqualTo studentSenderId userId)}}
                    <h3 class="sent-messages">{{messageContent}}</h3>
                {{else}}
                    <h3 class="received-messages">{{messageContent}}</h3>
                {{/if}}
            {{else}}
                {{#if (isEqualTo tutorSenderId userId)}}
                    <h3 class="sent-messages">{{messageContent}}</h3>
                {{else}}
                    <h3 class="received-messages">{{messageContent}}</h3>
                {{/if}}
            {{/if}}
        {{/each}}

<form id="sendMessageForm">
    <div class="uk-margin">
        <input class="uk-input" type="text" id="messageInput" placeholder="Type Message">
    </div>
  <div class="flex"> <button type="submit" class="uk-button uk-button-primary uk-button-small BNT-create ">Send Message</button>
      <button class="uk-button uk-button-secondary uk-button-small create-BTN" id="refreshBtn">Refresh</button></div>
   

</form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>